.my {
    background-color: #0065c3 !important;
    }
    a{
    color: white !important;
    text-decoration:  none !important;
    }
    #set{
        height: 600px;
    }.posi{
        position: absolute;
        margin-left: 370px !important;
        top: 130px !important;
        height: 210px;
    }.one{
        background-color: black;
    }#marf{
        margin: 14px;
        margin-top: 15.20pc;
       height: 230px !important;
    }
    #small{
    height: 20px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    }#SMALL_IMAGE{
       margin-top: 30px;
       height: 20px;
    }.butt{
        margin: 30px;
    }
    body{
        background-color:#0065c3;
    }
    .sws{
        display: inline-block !important;
    }.cs{
        margin-top: 30px;
        
    }@media only screen and (max-width:900px){
        img{
            margin: 1px !important;
         }
    }.bace{
        background-image: url(	https://www.pepsi.com/en-us/uploads/images/better-with-pepsi/PEP_BWP_D.jpg);
        background-repeat: no-repeat;
    height: 540px;
        position: absolute;
    }
    .figure-caption{
        color: white !important;
        text-align: center !important;
    }
    .posit{
        background-color: #0c3d6b;
    }.be{
        display: inline-block;
    }p{
        color: white;
    }.right{
        margin-top: 25px;
    }section{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #fff;
    
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }.ue{
       font-size: 50px;
       font-weight: bolder;
    }.ste{
        margin-top: 100px;
        margin-right: 30px;
    }.umar{
        margin-left: 30px;
        /* margin-bottom: 20px; */
        display: inline-block;
    }.can{
        float: right;
    }#last{
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        color: #0065c3;
    }#di{
        background-color: white;
    }li{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        color: white;}
        .btn{
            background-color: white !important;
            color: #0065c3 !important;
            border-color: black !important;
            border-radius: 20px;
        }
    footer{
        height:150px ;
       margin-top: 20px;
    }